.sidebar {
    flex: 1;
    border-right: 0.5px solid rgb(211, 225, 211);
    min-height: 100vh;
    background-color: white;

    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .pl-logo {
            width: 25px;
        }

        .logo {
            font-size: 19px;
            font-weight: bold;
            color: crimson;
        }
    }

    hr {
        height: 0;
        border: 0.5px solid rgb(211, 225, 211);

    }

    .center {
        padding-left: 10px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            .title {
                font-size: 10px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #e4f0e9;
                }

                .icon {
                    font-size: 18px;
                    color: darkcyan;
                }

                span {
                    font-size: 13px;
                    font-weight: 600;
                    color: #888;
                    margin-left: 10px;
                }
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid rgb(211, 225, 211);
            cursor: pointer;
            margin: 5px;

            &:nth-child(1) {
                background-color: whitesmoke;
            }

            &:nth-child(2) {
                background-color: #333;
            }
        }
    }
}